* {
box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  font-size: 100%;
}

.timer-container{
background-position: center;
background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  width: 100vw;
  height: 100vh
}

.timer{
  background-color: rgba(0,0,0,0.5);
display: flex; 
  flex: column;
  alighn-items: center;
  justify-content: center;
  padding-bottom: 7em;
  padding-top: 2em;
  width: 100%;
  height: 100%;
}

.timer div:first-child {
  text-align: center;
}

h2{
  font-weight: 600;
  margin-bottom: 0.25em;
}
