* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  font-size: 100%;
}

.timer-container{
  background-image:url(beth-teutschmann-ed5KySP1tfQ-unsplash.jpg) ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  width: 100vw;
  height: 100vh;
}

.timer{
  background-color: rgba(0,0,0,0.5);
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 7em;
  padding-top: 2em;
  width: 100%;
  height: 100%;
}

.timer div:first-child {
  text-align: center;
}

h2{
  font-weight: 600;
  margin-bottom: 0.25em;
}

.timer div:first-child p {
  columns: #f8f8f8 ;
}

.timer div:last-child {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  text-align: center;
}

section p:first-child, .timer div:last-child span {
  font-size: 3em;
}
